* {
  -background-color: #202225;
  -ground-color: #2F3136;
  -foreground-color: #36393F;
  -selectOnDark-color: #393C43;
  -selectOnLight-color: #32353B;
  -text-color: #FFFFFF;
  -text-field-color: #40444B;
}

.background {
  -fx-background-color: -background-color;
}

.ground {
  -fx-background-color: -ground-color;
}

.foreground {
  -fx-background-color: -foreground-color;
}

.scroll-pane {
  -fx-background: transparent;
}

.list-view,
.text-area {
  -fx-control-inner-background: -foreground-color;
}

.list-cell {
  -fx-background-color: transparent;
}

.label {
  -fx-text-fill: -text-color;
}

.button, .toggle-button {
  -fx-text-fill: -text-color;
  -fx-background-color: -selectOnLight-color;
}

.button:hover, .toggle-button:hover {
  -fx-background-color: -selectOnDark-color;
}

.toggle-button:selected {
  -fx-background-color: -selectOnDark-color;
}

.list-cell:focused {
  -fx-background-color: -selectOnDark-color;
}

.menu-bar {
  -fx-use-system-menu-bar:true;
  -fx-border:none;
  -fx-border-style:null;
  -fx-cursor:hand;
  -fx-padding:0px;
  -fx-spacing: 0px;
}

.menu,
.menu-item {
  -fx-background-color: -foreground-color;
  -fx-background: -foreground-color;
}

.menu:hover,
.menu-item:hover {
  -fx-background-color: -selectOnLight-color;
}

.context-menu {
  -fx-background-color: -ground-color;
}

.text-field {
  -fx-background-color: -text-field-color;
  -fx-text-fill: -text-color;
}
