<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="JarApplication">
    <option name="JAR_PATH" value="$PROJECT_DIR$/out/artifacts/Server_jar/Server.jar" />
    <option name="WORKING_DIRECTORY" value="C:\Users\lenni\Documents\Progammieren\IdeaProjects\IdeaProjects\Quap" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" value="openjdk-16" />
    <module name="Server" />
    <method v="2" />
  </configuration>
</component>